body {
	color: var(--color-black);
	font: var(--font-size) var(--font-family-primary);
	line-height: 1.15;
	word-wrap: break-word;
}

h1,
.h1 {
	background-color: transparent;
	background-image: url("data:image/svg+xml;charset=utf-8,<svg width='72' height='13' viewBox='0 0 72 13' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3 6.49949C3 6.49949 14.5 15.9993 36 6.49949C57.5 -3.00034 69 6.49949 69 6.49949' stroke='rgb(202, 215, 224)' stroke-width='3' stroke-miterlimit='2.03203' stroke-linecap='square'/></svg>");
	background-position: 50% 100%;
	background-repeat: no-repeat;
	color: var(--color-primary);
	font-size: 28px;
	font-weight: 700;
	margin: 0 0 1em 0;
	padding-bottom: .75em;
	position: relative;
	text-align: center;
}

h2,
.h2 {
	color: var(--color-black);
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 .5em 0;
	padding: 0;
}

h3,
.h3 {
	color: var(--color-primary);
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 .5em 0;
	padding: 0;
	text-align: center;
}

@media (min-width: 768px) {
	h1,
	.h1 {
		font-size: 36px;
	}

	h2,
	.h2 {
		font-size: 32px;
	}

	h3,
	.h3 {
		font-size: 28px;
	}
}

p {
	line-height: 1.4;
	margin: 1.25em 0;
}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

a {
}

.pseudo-link {
	cursor: pointer;
	text-decoration-style: dashed;
}

	a,
	.pseudo-link {
		color: var(--color-primary);
		text-decoration-color: currentColor;
		transition: .3s;
	}

	a:hover,
	a:active,
	.pseudo-link:hover {
		color: var(--color-black);
		text-decoration-color: transparent;
	}

	a * {
		cursor: pointer;
	}

	a[href^="tel"] {
		color: inherit;
	}

img {
	border: none;
	height: auto;
	max-width: 100%;
}

hr {
	border: none;
	border-top: 1px solid var(--color-gray);
	margin: 2.5em 0;
	padding: 0;
}

.clear {
	clear: both;
	float: none;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.clearfix {
	zoom: 1;
}

	.clearfix:before,
	.clearfix:after {
		content: "";
		display: table;
		line-height: 0;
	}

	.clearfix:after {
		clear: both;
	}

.fs-i,
.em {
	font-style: italic;
}

.fw-b,
.strong {
	font-weight: bold;
}

.fw-500 {
	font-weight: 500;
}

.fw-n {
	font-weight: normal;
}

.ta-l {
	text-align: left;
}

.ta-c {
	text-align: center;
}

.ta-r {
	text-align: right;
}

.fs-14 {
	font-size: 14px;
}

.fs-18 {
	font-size: 18px;
}

.--no-margin {
	margin: 0;
}

.--no-padding {
	padding: 0;
}

.ul-marker {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	list-style: none;
	margin: 1.25em 0;
	padding: 0;
}

	.ul-marker li {
		padding: 0 0 0 1em;
		position: relative;
	}

		.ul-marker li + li {
			margin-top: .5em;
		}

	.ul-marker li:before {
		content: "•";
		left: 0;
		line-height: 0;
		margin: .7em 0 0 0;
		position: absolute;
		top: 0;
	}

.ol-numbers {
	counter-reset: item;
	line-height: 1.5;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

	.ol-numbers li
	{
		margin: 0 0 7px 0;
		padding: 0 0 0 28px;
		position: relative;
	}

	.ol-numbers li:before {
		content: counters(item,".") ". ";
		counter-increment: item;
		left: 0;
		position: absolute;
		top: 0;
	}

.two-column {
	column-count: 2;
	column-gap: 30px;
}

.hr {
	border-top: 1px solid #E3E3E3;
	margin: 20px 0 40px 0;
}

.svg-icon {
	display: inline-block;
	fill-rule: evenodd;
	vertical-align: middle;
}

.site-button,
.site-button:visited {
	align-items: center;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 1px solid var(--color-primary);
	border-radius: 2em;
	color: var(--color-black);
	cursor: pointer;
	display: inline-flex;
	font-size: var(--font-size--small);
	justify-content: center;
	margin: 0;
	outline: none;
	padding: .75em 1.2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}

	.site-button + .site-button {
		margin-left: 1em;
	}
	
	.site-button__text {
		position: relative;
		z-index: 1;
	}
	
	.site-button--fill {
		color: #fff;
	}
		
		.site-button:before {
			background: var(--gradient-green);
			border-color: var(--color-primary);
			border-radius: 2em;
			bottom: -1px;
			content: '';
			display: block;
			left: -1px;
			opacity: 0;
			position: absolute;
			right: -1px;
			top: -1px;
			transition: .3s;
		}
		
			.site-button:hover,
			.site-button--fill {
				border-color: transparent;
			}
			
				.site-button--fill:hover {
					border-color: var(--color-primary);
					color: var(--color-black);
				}

				.site-button:hover:before,
				.site-button--fill:before {
					opacity: 1;
				}
	
					.site-button--fill:hover:before {
						opacity: 0;
					}

	.site-button--white {
		border-color: #fff;
		color: #fff;
	}

	.site-button--white-fill,
	.site-button--white:hover,
	.site-button--white:active {
		background-color: #fff;
		border-color: #fff;
		color: var(--color-black);
	}

		.site-button--white-fill:hover,
		.site-button--white-fill:active {
			background-color: transparent;
			border-color: #fff;
			color: #fff;
		}
		
		.site-button--white:before,
		.site-button--white-fill:before {
			content: none;
		}

.moving-placeholder {
	height: 100%;
  position: relative;
}

	.moving-placeholder__field {
		padding: 26px 20px 10px 20px !important;
	}

  .moving-placeholder__label {
	  color: inherit;
    font-size: 16px;
    left: 20px;
    line-height: 16px;
    opacity: .8;
    pointer-events: none;
    position: absolute;
    top: 18px;
	  transition: .3s;
  }

  .moving-placeholder__field:focus + .moving-placeholder__label,
  .moving-placeholder__field.--focus + .moving-placeholder__label {
    font-size: 12px;
    top: 6px;
  }
  
.site-popup {
	color: var(--color-black);
}

	.site-popup .fancybox-content {
		border-radius: 1.25em;
		box-sizing: border-box;
		max-width: 840px;
		overflow: visible;
		padding: 56px 42px 60px 42px;
		width: 100%;
	}
	
		.site-popup .fancybox-image {
			border-radius: 1.25em;
		}
	
		.site-popup .fancybox-close-small {
			color: var(--color-primary);
		}

		.site-popup .fancybox-content p {
			line-height: 1.2;
		}
		
@media (min-width: 768px) {
	.site-popup {
	}
	
		.site-popup .fancybox-content {
			width: 80%;
		}
		
		.site-popup  .fancybox-close-small {
			color: var(--color-primary);
			height: 38px;
			padding: 0;
			right: 10px;
			top: 10px;
			width: 38px;
		}
}